pipeline/CalledPipeline.json
{
	"name": "CalledPipeline",
	"properties": {
		"activities": [
			{
				"name": "CopyData From Blob To Database",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_datalake_csv",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "sqltable_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"databasename": {
								"value": "@pipeline().parameters.SourceDatabase",
								"type": "Expression"
							},
							"datatablename": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Get All Employees Whose Salary Is Less Than 2000",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "CopyData From Blob To Database",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM EmployeeV2 WHERE Salary < 2000",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sqltable_dynamic",
						"type": "DatasetReference",
						"parameters": {
							"databasename": {
								"value": "@pipeline().parameters.SourceDatabase",
								"type": "Expression"
							},
							"datatablename": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Loop Through All The Salaries",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get All Employees Whose Salary Is Less Than 2000",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Employees Whose Salary Is Less Than 2000').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Increment Salary",
							"type": "AzureFunctionActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "IncrementSalary",
								"method": "POST",
								"body": {
									"value": "{\n\"Id\": @item().Id,\n\"Salary\": @item().Salary\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_function_salaryOperations",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceDatabase": {
				"type": "string"
			},
			"SourceTable": {
				"type": "string"
			},
			"FileName": {
				"type": "string"
			}
		},
		"annotations": []
	}
}