pipeline/For-Each-Sample.json
{
	"name": "For-Each-Sample",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('items')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "itemValue",
								"value": {
									"value": "@int(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordSkipped",
					"value": {
						"value": "@add(last(variables('items')), 10)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable3",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "items",
					"value": {
						"value": "@createArray( mul(pipeline().parameters.lastRunValue, 1), mul(pipeline().parameters.lastRunValue, 2),mul(pipeline().parameters.lastRunValue, 3),mul(pipeline().parameters.lastRunValue, 4),mul(pipeline().parameters.lastRunValue, 5))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Execute ReturnOutput",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set variable2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ReturnOutput",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute ReturnOutput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Output",
					"value": {
						"value": "@activity('Execute ReturnOutput').output.pipelineReturnValue.Response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set variable5",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute ReturnOutput",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "KeepRunning",
							"value": {
								"type": "Expression",
								"content": "@if(greater(pipeline().parameters.lastRunValue, 6),bool(0), bool(1))"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"parameters": {
			"lastRunValue": {
				"type": "int"
			}
		},
		"variables": {
			"batchSize": {
				"type": "Integer",
				"defaultValue": 10
			},
			"itemValue": {
				"type": "Integer"
			},
			"recordSkipped": {
				"type": "Integer"
			},
			"items": {
				"type": "Array"
			},
			"Output": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}