pipeline/For-Each-Sample.json
{
	"name": "For-Each-Sample",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray( mul(variables('batchSize'), 1), mul(variables('batchSize'), 2),mul(variables('batchSize'), 3),mul(variables('batchSize'), 4),mul(variables('batchSize'), 5))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "itemValue",
								"value": {
									"value": "@int(item())",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set variable2",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "recordSkipped",
					"value": "@activity('ForEach1').item().value"
				}
			}
		],
		"variables": {
			"batchSize": {
				"type": "Integer",
				"defaultValue": 10
			},
			"itemValue": {
				"type": "Integer"
			},
			"recordSkipped": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}