pipeline/ReturnOutput.json
{
	"name": "ReturnOutput",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "Response",
							"value": {
								"type": "Int",
								"content": 2000
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@array([1,2,3,4,5])",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastCount",
								"value": "item()"
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "pipelineReturnValue",
								"value": [
									{
										"key": "LoopResponse",
										"value": {
											"type": "Int",
											"content": -1
										}
									}
								],
								"setSystemVariable": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"LastCount": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}