pipeline/sse-main-foreach-location.json
{
	"name": "sse-main-foreach-location",
	"properties": {
		"activities": [
			{
				"name": "Lookup List Of Turbines",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureTableSource",
						"azureTableSourceQuery": {
							"value": "@concat('PartitionKey eq ', '''',pipeline().parameters.Location,'''')",
							"type": "Expression"
						},
						"azureTableSourceIgnoreTableNotFound": false
					},
					"dataset": {
						"referenceName": "ds_azureTable_sseStorage",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Turbine",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup List Of Turbines",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set points",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup List Of Turbines').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Append TurbineCollection",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "turbineCollection",
								"value": {
									"value": "@concat('&ObjectIds=',item().RowKey)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Set points",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "points",
					"value": {
						"value": "@concat('&Points=ActivePower','&Points=RotorSpeed', '&Points=WindSpeed')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data from API Call to Storage",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach Turbine",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"parameters": {
			"Location": {
				"type": "string"
			}
		},
		"variables": {
			"turbine": {
				"type": "String"
			},
			"points": {
				"type": "String"
			},
			"turbineCollection": {
				"type": "Array"
			},
			"pointsCollection": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}