pipeline/sse-main.json
{
	"name": "sse-main",
	"properties": {
		"activities": [
			{
				"name": "ForEach Location",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Locations",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup List Of Turbines",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureTableSource",
									"azureTableSourceQuery": "PartitionKey eq item()",
									"azureTableSourceIgnoreTableNotFound": false
								},
								"dataset": {
									"referenceName": "ds_azureTable_sseStorage",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "ForEach Turbine",
							"type": "ForEach",
							"dependsOn": [
								{
									"activity": "Lookup List Of Turbines",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Lookup List Of Turbines').output.value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Locations": {
				"type": "array",
				"defaultValue": "[GRIF]"
			}
		},
		"annotations": []
	}
}