pipeline/sse-main.json
{
	"name": "sse-main",
	"properties": {
		"activities": [
			{
				"name": "ForEach Location",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Locations",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute sse-main-foreach-location",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "sse-main-foreach-location",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Location": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Merge all Newly Created Files",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach Location",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set transformedFileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "setOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Location']"
								},
								"sink": {
									"path": "$['Location']"
								}
							},
							{
								"source": {
									"path": "$['ObjectName']"
								},
								"sink": {
									"path": "$['ObjectName']"
								}
							},
							{
								"source": {
									"path": "$['Latitude']"
								},
								"sink": {
									"path": "$['Latitude']"
								}
							},
							{
								"source": {
									"path": "$['Longitude']"
								},
								"sink": {
									"path": "$['Longitude']"
								}
							},
							{
								"source": {
									"path": "$['result']..['points']"
								},
								"sink": {
									"path": "$['result']['points']"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dataLakeV2_sseTurbines",
						"type": "DatasetReference",
						"parameters": {
							"folderName": "rawFiles",
							"fileName": "\\"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_dataLakeV2_sseTurbines",
						"type": "DatasetReference",
						"parameters": {
							"folderName": "mergedFiles",
							"fileName": "mergedFile.json"
						}
					}
				]
			},
			{
				"name": "Transform Files",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "Merge all Newly Created Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "df_transform_sseApi_response",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set transformedFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "transformedFileName",
					"value": {
						"value": "@concat(guid(),'.json')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data to AzureTable for Serving",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Transform Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "AzureTableSink",
						"azureTableInsertType": "merge",
						"azureTablePartitionKeyName": "ObjectName",
						"azureTableRowKeyName": "ObjectId",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['Latitude']"
								},
								"sink": {
									"name": "Latitude"
								}
							},
							{
								"source": {
									"path": "$['Longitude']"
								},
								"sink": {
									"name": "Longitude"
								}
							},
							{
								"source": {
									"path": "$['ObjectName']"
								},
								"sink": {
									"name": "ObjectName"
								}
							},
							{
								"source": {
									"path": "$['ObjectId']"
								},
								"sink": {
									"name": "ObjectId"
								}
							},
							{
								"source": {
									"path": "$['ActivePower']"
								},
								"sink": {
									"name": "ActivePower"
								}
							},
							{
								"source": {
									"path": "$['RotorSpeed']"
								},
								"sink": {
									"name": "RotorSpeed"
								}
							},
							{
								"source": {
									"path": "$['WindSpeed']"
								},
								"sink": {
									"name": "WindSpeed"
								}
							},
							{
								"source": {
									"path": "$['Location']"
								},
								"sink": {
									"name": "Location"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "ds_dataLakeV2_transformedFileV2",
						"type": "DatasetReference",
						"parameters": {
							"folderName": "transformedFiles",
							"fileName": "\\"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_azureTable_sseStorage",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "aggregatedData"
						}
					}
				]
			}
		],
		"parameters": {
			"Locations": {
				"type": "array",
				"defaultValue": [
					"GRIF",
					"ARTF",
					"DROM"
				]
			}
		},
		"variables": {
			"turbine": {
				"type": "String"
			},
			"points": {
				"type": "String"
			},
			"turbineCollection": {
				"type": "Array"
			},
			"pointsCollection": {
				"type": "Array"
			},
			"transformedFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}