pipeline/UntilSample.json
{
	"name": "UntilSample",
	"properties": {
		"activities": [
			{
				"name": "Until False",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('KeepRunning'), bool('false'))",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Call Foreach",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "For-Each-Sample",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "Set KeepRunning",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Call Foreach",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "KeepRunning",
								"value": {
									"value": "@bool(activity('Call Foreach').output.pipelineReturnValue.KeepRunning)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set LastRunValue",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set KeepRunning",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": []
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"KeepRunning": {
				"type": "Boolean",
				"defaultValue": true
			},
			"LastRunValue": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}