datafactory/pipeline/ds_adf_SSO_latosql_wrapper_parallel_load.json
{
	"name": "ds_adf_SSO_latosql_wrapper_parallel_load",
	"properties": {
		"activities": [
			{
				"name": "SSO Delta to PREP delta",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SSO Curation",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SSO GDPR",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "SSO - Reporting Load Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SSO Curation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check SSO Entries",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "SSO Curation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @count INT\n\nSelect @count = count(*)\nFROM CFW.CurationConfig\nwhere Source_Name= 'ADOBE-SSO'\nand Country_Name=@{pipeline().parameters.Country_id}\n\n\tIF @count >0\n\t\tSELECT 'YES' AS SSO_Load\n\tELSE \n\t\tSELECT 'NO' AS SSO_Load",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check SSO Entries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check SSO Entries').output.value[0].SSO_Load,'YES')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Adobe Export pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"Country_id": {
										"value": "@{pipeline().parameters.Country_id}",
										"type": "Expression"
									},
									"Source": {
										"value": "@{pipeline().parameters.Source}",
										"type": "Expression"
									},
									"Subscription_Id": {
										"value": "@{pipeline().parameters.Subscription_Id}",
										"type": "Expression"
									},
									"Resource_Group": {
										"value": "@{pipeline().parameters.Resource_Group}",
										"type": "Expression"
									},
									"Factory_Name": {
										"value": "@{pipeline().parameters.Factory_Name}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "SSO GDPR",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "SSO Delta to PREP delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Source": {
							"value": "@pipeline().parameters.Source",
							"type": "Expression"
						},
						"Country_id": {
							"value": "@pipeline().parameters.Country_id",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"Country_id": {
				"type": "string",
				"defaultValue": "'DE'"
			},
			"Source": {
				"type": "string",
				"defaultValue": "'SSO'"
			},
			"Subscription_Id": {
				"type": "string",
				"defaultValue": "2e183fe5-d882-4de8-b7c4-84b5c0e4a468"
			},
			"Resource_Group": {
				"type": "string",
				"defaultValue": "MAHSBC-RGP-0092-ENT0158-RTL_RETAIL_DATA_PLATFORM_BC_TEST"
			},
			"Factory_Name": {
				"type": "string",
				"defaultValue": "test-szen-ds-adf-rdp-acqnbc"
			}
		},
		"folder": {
			"name": "CRMRDP/DataEngineering"
		},
		"annotations": []
	}
}