datafactory/pipeline/ds_adf_LCMS_latosql_wrapper_parallel_load.json
{
	"name": "ds_adf_LCMS_latosql_wrapper_parallel_load",
	"properties": {
		"activities": [
			{
				"name": "LCMS to PREP delta",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"HostName": {
							"value": "@{pipeline().parameters.HostName}",
							"type": "Expression"
						},
						"ServiceName": {
							"value": "@{pipeline().parameters.ServiceName}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Username": {
							"value": "@pipeline().parameters.Username",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						},
						"Secret": {
							"value": "@pipeline().parameters.Secret",
							"type": "Expression"
						},
						"Port": {
							"value": "@pipeline().parameters.Port",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Curation Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LCMS to PREP delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Reporting Load Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Curation Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check Headroom",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Curation Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @Days INT\n\nIF EXISTS (select  1 FROM [CFW].[Export_Extract_Detail] where source= @{pipeline().parameters.Source} \nAND LOAD_STAGE = 'HEADROOM'  \nAND COUNTRY_ID = @{pipeline().parameters.Country_id}  )\nBEGIN \nselect @Days = DATEDIFF(DAY,MAX(LOAD_FINISH_DT),GETDATE()) \nFROM [CFW].[Export_Extract_Detail]\nwhere source= @{pipeline().parameters.Source}\nAND LOAD_STAGE = 'HEADROOM' \nand COUNTRY_ID =@{pipeline().parameters.Country_id}\n\nIF @Days >=7\n\tSELECT 'YES' AS Days_Since\nELSE \n\tSELECT 'NO' AS Days_Since\nEND\nELSE\n\tSELECT 'YES' AS Days_Since",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If Headroom is to be excuted",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check Headroom",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check Headroom').output.value[0].Days_Since,'YES')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Adobe Headroom Parallel Load Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"Country_id": {
										"value": "@{pipeline().parameters.Country_id}",
										"type": "Expression"
									},
									"Source": {
										"value": "@{pipeline().parameters.Source}",
										"type": "Expression"
									},
									"Load_Stage": "HEADROOM"
								}
							}
						}
					]
				}
			},
			{
				"name": "PREP to SQL Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "LCMS to PREP delta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Adobe Export parallel load pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If SSO then yes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitOnCompletion": true,
					"parameters": {
						"Country_id": {
							"value": "@{pipeline().parameters.Country_id}",
							"type": "Expression"
						},
						"Source": {
							"value": "@{pipeline().parameters.Source}",
							"type": "Expression"
						},
						"Subscription_Id": {
							"value": "@{pipeline().parameters.Subscription_Id}",
							"type": "Expression"
						},
						"Resource_Group": {
							"value": "@{pipeline().parameters.Resource_Group}",
							"type": "Expression"
						},
						"Factory_Name": {
							"value": "@{pipeline().parameters.Factory_Name}",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Check SSO Entries",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Curation Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @count INT\n\nSelect @count = count(*)\nFROM config.IngestionConfig\nwhere Source= 'SSO'\nand CountryCode  =@{pipeline().parameters.Country_id}\n\n\tIF @count >0\n\t\tSELECT 'YES' AS SSO_Load\n\tELSE \n\t\tSELECT 'NO' AS SSO_Load",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If SSO then yes",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check SSO Entries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check SSO Entries').output.value[0].SSO_Load,'YES')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute SSO Wrapper",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ds_adf_SSO_latosql_wrapper_parallel_load",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Country_id": {
										"value": "@pipeline().parameters.Country_id",
										"type": "Expression"
									},
									"Source": "'SSO'",
									"Subscription_Id": {
										"value": "@pipeline().parameters.Subscription_Id",
										"type": "Expression"
									},
									"Resource_Group": {
										"value": "@pipeline().parameters.Resource_Group",
										"type": "Expression"
									},
									"Factory_Name": {
										"value": "@pipeline().parameters.Factory_Name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Check MOE Entries",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Curation Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @count INT\n\nSelect @count = count(*)\nFROM CFW.CurationConfig\nwhere Source_Name= 'MOE'\nand Country_Name=@{pipeline().parameters.Country_id}\n\n\tIF @count >0\n\t\tSELECT 'YES' AS MOE_Load\n\tELSE \n\t\tSELECT 'NO' AS MOE_Load",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "If MOE they yes",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check MOE Entries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Check MOE Entries').output.value[0].MOE_Load,'YES')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute MOE parallel load Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitOnCompletion": true,
								"parameters": {
									"Country_id": {
										"value": "@{pipeline().parameters.Country_id}",
										"type": "Expression"
									},
									"Source": {
										"value": "@{pipeline().parameters.Source}",
										"type": "Expression"
									},
									"Load_Stage": "MOE"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Source": {
				"type": "string",
				"defaultValue": "'LCMS'"
			},
			"Country_id": {
				"type": "string",
				"defaultValue": "'DE'"
			},
			"HostName": {
				"type": "string",
				"defaultValue": "AMSD2A-A-RESH557D.europe.shell.com"
			},
			"ServiceName": {
				"type": "string",
				"defaultValue": "RESH557D"
			},
			"Username": {
				"type": "string",
				"defaultValue": "SAS_TRANSFER_USR"
			},
			"Subscription_Id": {
				"type": "string",
				"defaultValue": "2e183fe5-d882-4de8-b7c4-84b5c0e4a468"
			},
			"Resource_Group": {
				"type": "string",
				"defaultValue": "MAHSBC-RGP-0092-ENT0158-RTL_RETAIL_DATA_PLATFORM_BC_TEST"
			},
			"Factory_Name": {
				"type": "string",
				"defaultValue": "test-szen-ds-adf-rdp-acqnbc"
			},
			"Secret": {
				"type": "string"
			},
			"Port": {
				"type": "string"
			}
		},
		"folder": {
			"name": "CRMRDP/DataEngineering"
		},
		"annotations": []
	}
}