datafactory/pipeline/from-local-sql-to-azure.json
{
	"name": "from-local-sql-to-azure",
	"properties": {
		"activities": [
			{
				"name": "copy-data-to-azure-sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get-last-synched-iid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.EMPLOYEE\nWHERE Id > @{activity('get-last-synched-iid').output.firstrow.Id}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OrganisationDatabase",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azure_sql_organisation_db_employee_table",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get-last-synched-iid",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Max(Id) AS 'Id' FROM dbo.Employee",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "azure_sql_organisation_db_employee_table",
						"type": "DatasetReference"
					}
				}
			}
		],
		"annotations": []
	}
}