datafactory/pipeline/run-newyorktaxi-notebooks-in-databricks.json
{
	"name": "run-newyorktaxi-notebooks-in-databricks",
	"properties": {
		"activities": [
			{
				"name": "OrchestrateTaxiServices",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Production/OrchestrateTaxiServicesWorkflow",
					"baseParameters": {
						"ProcessMonth": "2019-12"
					}
				},
				"linkedServiceName": {
					"referenceName": "LinkedServiceToDataBricks",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set errorDetails",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "OrchestrateTaxiServices",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "errorDetails",
					"value": {
						"value": "@activity('OrchestrateTaxiServices').output",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set successDetails",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "OrchestrateTaxiServices",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "successDetails",
					"value": {
						"value": "@activity('OrchestrateTaxiServices').output",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"month": {
				"type": "string"
			},
			"year": {
				"type": "string"
			}
		},
		"variables": {
			"errorDetails": {
				"type": "String"
			},
			"successDetails": {
				"type": "String"
			}
		},
		"annotations": []
	}
}